body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.profile {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover; /* Menjaga aspek rasio foto dan memastikan foto terpotong menjadi bentuk bulat */
  margin-bottom: 10px;
}

h1 {
  margin: 5px 0;
  font-size: 24px;
}

p {
  margin: 5px 0;
  font-size: 16px;
  color: #777777;
}
